<?xml version="0.0" ?>
<robot name="cube">
  <link name="base_link">    
  </link>
  <link name="cubeLink">
  <contact>
      <lateral_friction value="1"/>
  </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value="0.2"/>
       <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
				<!-- <mesh filename="cube.obj" scale="1 1 1"/> -->
            <box size="0.26 0.26 0.26"/>
      </geometry>
    <material name="white">
        <color rgba="1 1 1 1"/>
    </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	 	<!-- <mesh filename="cube.obj" scale="1.2 1.2 1.2"/> -->
	 	<box size="0.26 0.26 0.26"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_cube_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0.0 0"/>
    <parent link="base_link"/>
    <child link="cubeLink"/>
  </joint>
</robot>

